*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
/*::-webkit-scrollbar {
		width: 15px;
	}
::-webkit-scrollbar-track {
	background-color: rgb(231, 221, 221);
}
::-webkit-scrollbar-thumb {
	background-color: #0DCAF0;
}*/
body, html{
	min-height: 100vh;
  	overflow-y: auto;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
html{
	scroll-behavior: smooth;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow-x: hidden;
}
p {
	font-size: 18px;
}
.breadcrumb {
	background-color: transparent;
	padding: 10px 0;
	margin: 0;
	color: #3012da;
	font-size: 0.9rem;
}
.breadcrumb a {
	color: #1520bb;
	text-decoration: none;
}
.container-1 {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	gap: 5px;
	color: white;
}
.bainner-content {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	gap: 5px;
	color: white;
}
.bainner-content h2 {
	color: white;
	font-size: 24px !important;
}

.redes {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 98px;
	color: white;
}
.sub-redes {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	gap: 15px;
	color: white;
}
.circuloRedes {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
}
.social-icon {
	color: white;
	font-size: 3rem !important;
	margin-right: 10px;
	text-decoration: none;
}
.social-icon:hover {
	color: white;
}
.conteudos {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
	gap: 5px;
	color: white;
	width: 335px;
	margin-left: 400px;
}
.btn-int {
	margin-right: 145px;
	margin-top: 30px;
}
.csf-content{
	background-color: #3218c2;
	padding: 10px;
	font-size: 1.5rem;
	margin-top: -24px;
	height: 100px;
}
.category-title {
	color: white;
}
.catego {
	background-color: #0f0597;
	border-bottom: 5px solid #333 !important;
	height: 55px;
	color: white;
	margin-top: -10px;
}
.date-time {
	text-align: right;
	color: white;
	font-size: 0.9rem;
	margin-top: -20px;
}
.card-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap:30px;
	margin-top:30px;
}

.secCard {
	margin-top: 35px;
}

.tituloCard {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: #231f20;
	margin-bottom: 10px;
}

.bolsaParagrapho {
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
	color: #555;
}

/* Layout dos Cards */
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}
.custom-card {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
	width: 260px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: left;
}
.custom-card:hover {
	transition: all ease-in-out 0.3s;
	transform: translateY(-10px);
	box-shadow: 0 14px 8px rgba(0, 0, 0, 0.1);
}
.custom-card img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}
.custom-card-body {
	padding: 15px;
}
.custom-card-title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.custom-card-text {
	font-size: 17px;
	color: #666;
	margin-bottom: 15px;
}
.btn-ver-mais {
	display: inline-block;
	text-decoration: none;
	background-color: #0DCAF0;
	color: white;
	padding: 8px 12px;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
}
.btn-ver-mais:hover {
	background-color: #0067b8;
	color: white;
	text-decoration: none;
}

/* Paginação */
.pagination {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 25px;
}
.pagination button {
	background: linear-gradient(90deg, #000000, #3533cd, #000000);
	color: white;
	border: none;
	padding: 8px 12px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
}
.pagination button:hover {
	background-color: #0067b8;
}
.pagination button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

/* Responsividade */
@media (max-width: 768px) {
	.tituloCard {
		font-size: 20px;
	}
	.custom-card {
		width: 90%;
	}
}

.ul-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	text-align: start;
}
 /* Ajustes customizados */
 .banner {
	 background: linear-gradient(90deg, #000000, #3533cd, #000000);
	min-height: 260px;
	padding: 70px 0;
	color: white;
  }
  .banner h2 {
	font-size: 24px;
	font-weight: bold;
  }
  .btn-int:hover {
	background-color: #0DCAF0 !important;
	transform: scale(1.2);
	transition: transform 0.3s ease;
  }
  .circuloRedesMain {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	gap: 15px;
  }
  .social-icon {
	color: white;
	font-size: 2rem;
	text-align: center;
	text-decoration: none;
  }
  .social-icon:hover {
	color: white;
  }
  .btn-int {
	margin-top: 20px;
  }

  /* Seccao de Bolsas */
  .secBolsas {
	background: #f8f8f8;
	padding: 55px;
	border-radius: 5px;
	margin: auto;
	margin-top: 85px;
	/*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
  }
  .area-estudo {
	margin-bottom: 15px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
}

.grid-item {
	border: 2px solid #42a9fd;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: #0067b8;
	font-size: 14px;
	cursor: pointer;
	transition: 0.3s;
}

.grid-item:hover {
	background: linear-gradient(90deg, #000000, #3533cd, #000000);
	border: 0px solid #42a9fd;
	color: white;
}

@media (max-width: 600px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
}

/* Quem Somos */
	.quemSomos {
		margin: auto;
		margin-top: 35px;
		background: white;
		padding: 20px;
		border: 0px solid black;
	}
	.titleTeam {
		color: #231f20;
		font-size: 32px;
		margin-bottom: 20px;
		text-align: center;
	}

	.grid-containers {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		gap: 20px;
		justify-content: center;
		padding: 10px;
		margin-top: 45px;
	}

	.team-member {
		text-align: center;
		border-radius: 5px;
	}

	.team-member img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		object-fit: cover;
		border: 3px solid #3533cd;
	}

	.team-member h4 {
		font-size: 16px;
		color: #000;
		margin: 8px 0 3px 0;
	}

	.team-member p {
		font-size: 14px;
		color: #555;
		margin: 0;
	}

	@media (max-width: 600px) {
		.grid-container {
			grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
		}

		.team-member img {
			width: 100px;
			height: 100px;
		}

		.team-member h4 {
			font-size: 14px;
		}

		.team-member p {
			font-size: 12px;
		}
	}

	/* Nossa Missao */
	.secNossaMission {
		margin-top: 30px;
		padding: 20px;
		background: white;
	}
	.titleMission {
		color: #0073e6;
		text-align: center;
		margin-bottom: 20px;
		font-size: 28px;
	}
	.missionList {
		list-style: none;
		padding: 0;
	}
	.missionList li {
		background: linear-gradient(90deg, #000000, #3533cd, #000000);
		color: white;
		margin: 10px 0;
		padding: 15px;
		border-radius: 8px;
		font-size: 18px;
		display: flex;
		align-items: center;
	}
	.missionList li::before {
		content: "✔";
		margin-right: 10px;
		font-weight: bold;
	}
	@media (max-width: 768px) {
		.container {
			margin: 10px;
			padding: 15px;
		}
		.titleMission {
			font-size: 20px;
		}
		.missionList li {
			font-size: 16px;
		}
	}

	/* Politicas de Bolsa */
	.SecPoliticas {
		margin-top: 35px;
	}
	.containerPolitica {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.titulo-principal {
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		color: #0073e6;
		font-weight: 600;
		position: relative;
		display: inline-block;
		padding-bottom: 10px;
		text-align: center;
	}

	.titulo-principal::after {
		content: "";
		width: 50px;
		height: 3px;
		background: linear-gradient(90deg, #000000, #3533cd, #000000);
		display: block;
		margin: 5px auto 0;
		border-radius: 5px;
	}

	/* Lista Estilizada */
	.politicaLista {
		list-style: none;
		max-width: 700px;
		margin: 0 auto;
		padding: 0;
		text-align: left;
	}

	.politicaLista li {
		background: white;
		padding: 15px 20px;
		margin-bottom: 10px;
		font-size: 16px;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.politicaLista li::before {
		content: "✔";
		color: linear-gradient(90deg, #000000, #3533cd, #000000);
		font-weight: bold;
		font-size: 18px;
		margin-top: -35px !important;
	}

	/* Responsividade */
	@media (max-width: 768px) {
		.titlePolitica {
			font-size: 20px;
		}
		.politicaLista li {
			font-size: 14px;
			padding: 12px 15px;
		}
	}

	.titlePolitica {
		font-size: 28px;
		font-weight: 700;
		margin: 10px 0 20px;
		text-align: center;
	}

	.paragPolitica {
		font-size: 16px;
		font-weight: 300;
		max-width: 700px;
		margin: 0 auto 20px;
		line-height: 1.6;
		text-align: center;
	}

	.paragPoliticacaixa {
		font-size: 16px;
		font-weight: 300;
		max-width: 700px;
		margin: 0 auto 20px;
		line-height: 1.6;
		text-align: left;
	}

	/* Bloco de Destaque */
	.caixa-destaque {
		background: white;
		padding: 25px;
		max-width: 700px;
		margin: 30px auto;
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
		border-radius: 10px;
		text-align: left !important;
		position: relative;
	}

	.caixa-destaque::before {
		content: "“";
		font-size: 60px;
		color: linear-gradient(90deg, #000000, #3533cd, #000000);
		position: absolute;
		top: -10px;
		left: 5px;
	}

	/* Responsividade */
	@media (max-width: 768px) {
		.container-contents {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column !important;
			padding: 5px;
			color: #eee;
			border: 0px solid red !important;
		}
		.quem-somos {
		display: flex;
  		justify-content: center;
 		align-items: center;
  		flex-direction: column;
  		border: 2px solid transparent;
 		width: 230px;
  		height: 260px;
  		padding: 15px;
  		margin-left: 145px;
		margin-top: -95px;
  		border-radius: 25px;
  		background: linear-gradient(white, white) padding-box,
    	linear-gradient(90deg, #000000, #3533cd, #000000) border-box;
	}
		.quem-somos h1 {
			font-size: 2.5em;
  			font-weight: bold;
  			text-align: center;
  			background: linear-gradient(90deg, #000000, #3533cd, #000000);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
			text-align: center;
		}
		.bar-div {
			width: 160px !important;
			height: 3px;
			background-color: #eee;
			display: block;
			border-radius: 5px;
			transform: rotate(180deg) !important;
			margin-left: -5px !important;
			margin-top: 30px;
			border-radius: 25px;
		}
		.info-quem-somos {
			border: 0px solid red;
			width: 885px;
			padding: 10px;
			text-align: justify;
			margin-left: -85px;
		}
		.info-quem-somos {
			border: 0px solid red;
			width: 335px !important;
			padding: 10px;
			text-align: center !important;
			margin-left: 0px !important;
		}

		.titlePolitica {
			font-size: 22px;
		}
		.paragPolitica {
			font-size: 14px;
		}
		.caixa-destaque {
			padding: 15px;
		}
	}
  /* FAQ */
  .secFaq {
	background: #0067b8;
	padding: 55px;
	margin-top: 95px;
	padding-bottom: 75px;
  }
  .faq {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .faq-container {
	max-width: 800px;
	margin: auto;
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	margin-top: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.faq-text {
	color: white;
}
.faq-item {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}
.faq-question {
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.faq-answer {
	display: none;
	padding-top: 10px;
	font-size: 16px;
	color: #555;
}
.faq-question::after {
	content: '+';
	font-size: 20px;
}
.faq-item.active .faq-answer {
	display: block;
}
.faq-item.active .faq-question::after {
	content: '-';
}

/* CTA */
.secCTA {
	border: 0 solid black;
	margin-top: -1px;
	background: white;
	padding-bottom: 25px;
}
.cta-container {
    text-align: center;
    background: #0067b8;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
	/*position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 10;
	margin-top: 2180px;*/
}
.cta-container h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
.cta-container p {
    font-size: 20px;
    margin-bottom: 20px;
}
.cta-button {
    display: inline-block;
    background: #ffcc00;
    color: #0067b8;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.cta-button:hover {
    background: #ff9900;
	text-decoration: none;
	color: white;
}

  /* Rodape */
  footer{
    width: 100%;
    height: 350px;
    border: 0px solid black;
    background: linear-gradient(90deg, #000000, #3533cd, #000000);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--header);
}

.redesFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
}

.redesFooter a{
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 100%;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
	text-decoration: none;
}

.redesFooter a i{
	color: #eee;
    font-size: 2rem;
}

.redesFooter a:hover{
    background-color: #eee;
	text-decoration: none;
}
.redesFooter a:hover i{
    color: #231f20;
}
footer p{
    font-size: 1.8rem;
    text-align: center;
    width: 350px;
    font-weight: 400;
    color: #eee;
    margin-top: 40px;
}

.assinatura{
    margin-top: 10px;
}
.assinatura a{
    font-size: 1.8rem;
	border-bottom: 1px solid #000;
	text-decoration: none;
	font-weight: bold;
	color: #eee;
}

.assinatura span:first-child{
    color: #eee;
	font-size: 1.8rem;
}

.contactos{
    margin-top: 50px;
}
.contactos span{
    color: #eee;
	font-size: 1.8rem;
}
.heart-icon {
    color: #E63946;
    font-size: 1.2em;
    margin: 0 5px;
    transition: transform 0.3s ease-in-out;
}
.heart-icon:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
	.contactos {
		color: #eee;
		font-size: 1.8rem;
		text-align: center !important;
	}
	.conexao {
		color: #eee;
		font-size: 1.8rem;
		text-align: center !important;
	}
}

@media (max-width: 480px){
    footer p{
        font-size: 1rem;
        width: 90%;
    }
    .redesFooter a{
        width: 40px;
        height: 40px;
    }

    .redesFooter a i{
        color: #231f20;
        font-size: 1rem;
    }
	.contactos span{
		color: #eee;
		font-size: 1.8rem;
		text-align: center !important;
	}
}
@media (max-width: 350px){
    .redesFooter{
        flex-wrap: wrap;
    }
}


/* Estilos para o BTN de Voltar ao Topo */
#btnTopo {
	display: none;
    position: fixed;
	bottom: 20px;
    right: 20px;
    background-color: #EAF5E2;
    color: #231f20;
    border: none;
    padding: 10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
	font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    }
#btnTopo:hover {
	background-color: #EAF5E2;
    } 

	.iconFaq {
		background: #EAF5E2;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		margin-right: 15px;
		margin-bottom: -15px;
	}

	.iconFaq i {
		color: #b3cdf6;
		font-size: 24px;
	}

	/*.destaqueMenu:hover{
		color: white !important;
		border-bottom: 2px solid #0067b8 !important;
		transition: all .4s ease !important;
	}*/

	/* Quem Somos */
	.section-quem-somos {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		margin-top: 55px;
		padding: 10px;
		background: linear-gradient(90deg, #000000, #3533cd, #000000);
		padding-bottom: 25px;
	}
	.container-contents {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		padding: 5px;
		color: #eee;
		border: 0px solid red;
	}
	.quem-somos {
		display: flex;
  		justify-content: center;
 		align-items: center;
  		flex-direction: column;
  		border: 2px solid transparent;
 		width: 230px;
  		height: 260px;
  		padding: 15px;
  		margin-right: 145px;
  		border-radius: 25px;
  		background: linear-gradient(white, white) padding-box,
    	linear-gradient(90deg, #000000, #3533cd, #000000) border-box;
	}
	.fa-users {
		 font-size: 4em;
      background: linear-gradient(90deg, #000000, #3533cd, #000000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(0 0 4px rgba(0,0,0,0.3));
	}
	.quem-somos h1 {
		font-size: 2.5em;
  		font-weight: bold;
  		text-align: center;
  		background: linear-gradient(90deg, #000000, #3533cd, #000000);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	.bar-div {
		width: 220px;
		height: 3px;
		background-color: #eee;
		display: block;
		border-radius: 5px;
		transform: rotate(180deg);
		margin-left: -220px;
		margin-top: 30px;
		border-radius: 25px;
		display: none;
	}
	.info-quem-somos {
		border: 0px solid red;
		width: 885px;
		padding: 10px;
		text-align: justify;
		margin-left: -85px;
	}
	.info-quem-somos h1 {
		font-size: 32px;
	}
	.info-quem-somos p {
		font-size: 20px;
	}

	/* Seccao de Nossos Servicos */
	.section-nossos-servicos {
		margin-top: 45px;
		padding-bottom: 35px;
	}
	.services-titles {
		font-size: 32px;
		margin-bottom: 20px;
		color: #231f20;
	}

	.service-paragraph {
		font-size: 1.8rem;
		margin-bottom: 30px;
		color: #555;
	}

	.services {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 20px;
	}

	.service-card {
		background-color: #f3f1f1;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s ease-in-out;
	}

	/*.service-card:hover {
		transform: translateY(-5px);
	}*/

	.service-icon {
		font-size: 3rem;
		color: linear-gradient(90deg, #000000, #3533cd, #000000);
		margin-bottom: 15px;
	}

	.service-title {
		font-size: 1.8rem;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.service-description {
		font-size: 1.4rem;
		color: #555;
	}

	/** Seccao de Jobs */
	.section-jobs {
		margin-top: 60px;
		padding-bottom: 30px;
	}

	.title-jobs {
		font-size: 32px;
		color: #0099cc;
		text-align: center;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.divider {
		width: 50px;
		height: 3px;
		background: linear-gradient(90deg, #000000, #3533cd, #000000);
		margin: 10px auto 30px;
	}

	.job-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 20px;
	}

	.job-card {
		background-color: #f3f1f1;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		text-align: left;
		transition: transform 0.3s ease-in-out;
		cursor: pointer;
	}

	.job-card:hover {
		transform: translateY(-5px);
	}

	.job-title {
		font-size: 1.8rem;
		font-weight: bold;
		color: #555;
		margin-bottom: 10px;
	}

	.job-info {
		font-size: 1.4rem;
		color: #666;
		margin-bottom: 15px;
	}

	.job-info i {
		color: #0099cc;
		margin-right: 5px;
	}

	.job-link {
		font-size: 1.3rem;
		color: #0099cc;
		font-weight: bold;
		text-decoration: none;
		display: inline-block;
		margin-top: 10px;
	}

	.job-link:hover {
		text-decoration: underline;
	}

	.gradient-text {
  background: linear-gradient(90deg, #000000, #3533cd, #000000);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: gradientMove 3s linear infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% center; }
  100% { background-position: 100% center; }
}